.edui-btn-toolbar .edui-btn .edui-icon-source {
  background-image: url(../images/icon/source.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-undo {
  background-image: url(../images/icon/undo.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-redo {
  background-image: url(../images/icon/redo.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-bold {
  background-image: url(../images/icon/bold.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-italic {
  background-image: url(../images/icon/italic.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-underline {
  background-image: url(../images/icon/underline.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-strikethrough {
  background-image: url(../images/icon/strikethrough.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-superscript {
  background-image: url(../images/icon/superscript.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-subscript {
  background-image: url(../images/icon/subscript.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-font,
.edui-btn-toolbar .edui-btn .edui-icon-forecolor {
  background-image: url(../images/icon/forecolor.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-backcolor {
  background-image: url(../images/icon/backcolor.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-insertorderedlist {
  background-image: url(../images/icon/insertorderedlist.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-insertunorderedlist {
  background-image: url(../images/icon/insertunorderedlist.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-selectall {
  background-image: url(../images/icon/selectall.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-cleardoc {
  background-image: url(../images/icon/cleardoc.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-paragraph {
  background-image: url(../images/icon/paragraph.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-fontfamily {
  background-position: -140px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-fontsize {
  background-position: -140px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyleft {
  background-image: url(../images/icon/justifyleft.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-justifycenter {
  background-image: url(../images/icon/justifycenter.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyright {
  background-image: url(../images/icon/justifyright.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyfull {
  background-image: url(../images/icon/justifyfull.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-link {
  background-image: url(../images/icon/link.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-unlink {
  background-image: url(../images/icon/unlink.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-image {
  background-image: url(../images/icon/image.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-emotion {
  background-image: url(../images/icon/emotion.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-video {
  background-image: url(../images/icon/video.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-map {
  background-image: url(../images/icon/map.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-gmap {
  background-position: -260px -40px;
}
.edui-btn-toolbar .edui-btn .edui-icon-horizontal {
  background-image: url(../images/icon/horizontal.png);
}

.edui-btn-toolbar .edui-btn .edui-icon-print {
  background-image: url(../images/icon/print.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-preview {
  background-image: url(../images/icon/preview.png);
}

.edui-btn-toolbar .edui-btn-fullscreen {
  float: right;
}
.edui-btn-toolbar .edui-btn .edui-icon-fullscreen {
  background-position: -100px -20px;
}

.edui-btn-toolbar .edui-btn .edui-icon-removeformat {
  background-image: url(../images/icon/removeformat.png);
}
.edui-btn-toolbar .edui-btn .edui-icon-drafts {
  background-position: -560px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-formula {
  background-position: -80px -20px;
}
